
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #555;
}

.slider-container {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.slide {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}