@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rainbow';
    src: url('/fonts/rainbow-webfont.woff2') format('woff2'),
         url('/fonts/rainbow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  @apply bg-gray-200;
}

.rainbow {
  font-family: 'Rainbow' !important;
}